body {
    margin: 0;
    padding: 0;

}
.block {
    outline: red solid 1px;
    display: flex;
    flex-direction:column;
    text-align: center;
}
.title_game {

}
.card {    
margin-left: auto;
margin-right: auto;
font-size: 30px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.block_intput {

}
.input {
    width: 140px;
    height: 40px;
}
.submit {
    width: 140px;
    height: 40px;}